@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #181A20;
    font-family: "Poppins", sans-serif;
}

.mainBody {
    height: calc(100% - 64px);
}

.show-sidebar {
    transform: translateX(-256px);
    width: 0;
}
  

.video-container {
    display: grid;
    grid-template-columns: 4fr 4fr 0.5fr 2.5fr;
    grid-template-rows: auto;
    grid-template-areas:
      "video video . recommended"
      "title title . recommended"
      "actions actions . recommended"
      "information information . recommended"
      "description description . recommended"
      "comments comments . recommended";
  }

  .grid-video-video {
    grid-area: video;
  }
  
  .grid-video-recommended {
    grid-area: recommended;
  }

  
  .grid-video-title {
      grid-area: title;
    }
    
  .grid-video-actions {
      grid-area: actions;
  }
    
  .grid-video-information {
    grid-area: information;
  }
  
  .grid-video-comments {
    grid-area: comments;
  }
  
  .grid-video-description {
    grid-area: description;
  }

  .show-reply-form {
    display: block !important;
  }

  .show-replies {
    display: block !important;
  }